<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <p> Seja bem vindo(a) ao meu site! </p>

    <h1> Título Princiapal </h1>
    <h2> Subtítulo </h2>
    <h3> Seção </h3>
    <h4> Subseção </h4>
    <h5> Tópico </h4>
    <h6> Subtópico </h6>

    <p> Este é um parágrafo </p> <br>

    Este texto é um <strong> Texto em enfase</strong> <br>
    <b> Texto em negrito </b> <br>
    <i> Texto em itálico </i> <br>
    <u> Texto sublinado </u> <br>
    <s> Texto riscado </s> <br>
    <mark> Texto destacado </mark> <br>
    <small> Texto pequeno </small> <br>

    <!-- lista não ordenada-->
    <ul>
        <li> Item 1 </li>
        <li> Item 2 </li>
        <li> Item 3 </li>
    </ul>

    <!-- lista ordenada-->
    <ol>
        <li> 1o. Item </li>
        <li> 2o. Item </li>
        <li> 3o. Item </li>
    </ol>

    <!-- lista de definição -->
     <dl>
        <dt> HTML </dt>
        <dd> Liguagem de Marcação</dd>

        <dt> CSS</dt>
        <dd> Linguagem de Estilo </dd>
     </dl>

     <!-- links -->
      <a href="https://oceanbrasil.com/"> Site Oceanbrasil</a> <br>

      <!-- imagem -->
       <img src="..\img\python.png" alt="Comandos Básicos"> <br>


   

</body>
</html>